<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collectionsframework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />
        <activity android:name=".c2okhttp.activity.OKHttpActivity" />
        <activity android:name=".c2okhttp.activity.OKHttpListActivity" />
        <activity android:name=".c3json.activity.NativeJsonPraseActivity" />
        <activity android:name=".c3json.activity.GsonActivity" />
        <activity android:name=".c3json.activity.FastJsonActivity" />
        <activity android:name=".c4xutils3.annotation.FragmentXUtils3Activity" />
        <activity android:name=".c4xutils3.XUtils3MainActivity" />
        <activity android:name=".c4xutils3.net.XUtils3NetActivity" />
        <activity android:name=".c5afinal.AfinalActivity" />
        <activity android:name=".c6volley.VolleyActivity"/>
        <activity android:name=".c7eventbus.EventBusActivity"/>
        <activity android:name=".c7eventbus.EventBusSendActivity"/>
        <activity android:name=".c8butterknife.ButterknifeActivity"/>
        <activity android:name=".c9imageloader.acitvity.ImageLoaderActivity"/>
        <activity android:name=".c9imageloader.acitvity.ImageloaderGridviewActivity"/>
        <activity android:name=".c9imageloader.acitvity.ImageloaderListviewActivity"/>
        <activity android:name=".c9imageloader.acitvity.ImageloaderViewpagerActivity"/>

    </application>
</manifest>
