<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.collectionsframework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/i_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/i_logo_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".c4xutils3.loadsingleimage.XUtils3LoadSingleImage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />
        <activity android:name=".c2okhttp.activity.OKHttpActivity" />
        <activity android:name=".c2okhttp.activity.OKHttpListActivity" />
        <activity android:name=".c3json.activity.NativeJsonPraseActivity" />
        <activity android:name=".c3json.activity.GsonActivity" />
        <activity android:name=".c3json.activity.FastJsonActivity" />
        <activity android:name=".c4xutils3.annotation.FragmentXUtils3Activity" />
        <activity android:name=".c4xutils3.XUtils3MainActivity" />
        <activity android:name=".c4xutils3.net.XUtils3NetActivity" />
        <activity android:name=".c5afinal.AfinalActivity" />
        <activity android:name=".c6volley.VolleyActivity" />
        <activity android:name=".c7eventbus.EventBusActivity" />
        <activity android:name=".c7eventbus.EventBusSendActivity" />
        <activity android:name=".c8butterknife.ButterknifeActivity" />
        <activity android:name=".c9imageloader.acitvity.ImageLoaderActivity" />
        <activity android:name=".c9imageloader.acitvity.ImageloaderGridviewActivity" />
        <activity android:name=".c9imageloader.acitvity.ImageloaderListviewActivity" />
        <activity android:name=".c9imageloader.acitvity.ImageloaderViewpagerActivity" />
        <activity android:name=".c10picasso.activity.PicassoActivity" />
        <activity android:name=".c10picasso.activity.PicassoListviewActivity" />
        <activity android:name=".c10picasso.activity.PicassoTransfromationsActivity" />
        <activity
            android:name=".c11recyclerview.RecyclerViewActivity"
            android:theme="@style/listDividerTheme" />
        <activity android:name=".c12glide.activity.GlideActivity" />
        <activity android:name=".c12glide.activity.GlideBaseActivity" />
        <activity android:name=".c12glide.activity.GlideRecyclerviewActivity" />
        <activity android:name=".c12glide.activity.GlideTranformationsActivity" />
        <activity android:name=".c13fresco.FrescoActivity" />
        <activity android:name=".c13fresco.FrescoAutoSizeActivity" />
        <activity android:name=".c13fresco.FrescoCircleAndCornerActivity" />
        <activity android:name=".c13fresco.FrescoCropActivity" />
        <activity android:name=".c13fresco.FrescoGifAcitivity" />
        <activity android:name=".c13fresco.FrescoJpegActivity" />
        <activity android:name=".c13fresco.FrescoListenerActivity" />
        <activity android:name=".c13fresco.FrescoModifyActivity" />
        <activity android:name=".c13fresco.FrescoMultiActivity" />
        <activity android:name=".c13fresco.FrescoResizeActivity" />
        <activity android:name=".c13fresco.FrescoSpimgActivity" />
        <activity android:name=".c14android_pulltorefresh.PullToRefreshMainActivity" />
        <activity android:name=".c14android_pulltorefresh.PullToRefreshGridActivity" />
        <activity android:name=".c14android_pulltorefresh.PullToRefreshListActivity" />
        <activity android:name=".c14android_pulltorefresh.PullToRefreshListFragmentActivity" />
        <activity android:name=".c14android_pulltorefresh.PullToRefreshListInViewPagerActivity" />
        <activity android:name=".c14android_pulltorefresh.PullToRefreshViewPagerActivity" />
        <activity android:name=".c14android_pulltorefresh.PullToRefreshWebViewActivity" />
        <activity
            android:name=".c15universalvideoview.UniversalVideoViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />
        <activity
            android:name=".c16jiecaovideoplayer.activity.JieCaoVideoPlayerMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/JieCaoVideoPlayerTheme" />
        <activity
            android:name=".c16jiecaovideoplayer.activity.ListViewActivity"
            android:theme="@style/JieCaoVideoPlayerTheme" />
        <activity
            android:name=".c16jiecaovideoplayer.activity.ListViewMultiHolderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/JieCaoVideoPlayerTheme" />
        <activity
            android:name=".c16jiecaovideoplayer.activity.ListViewNormalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/JieCaoVideoPlayerTheme" />
        <activity
            android:name=".c16jiecaovideoplayer.activity.ListViewViewpagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/JieCaoVideoPlayerTheme" />
        <activity
            android:name=".c16jiecaovideoplayer.activity.RecyclerViewNormalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/JieCaoVideoPlayerTheme" />
        <activity
            android:name=".c16jiecaovideoplayer.activity.UISmallChangeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/JieCaoVideoPlayerTheme" />
        <activity
            android:name=".c16jiecaovideoplayer.activity.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/JieCaoVideoPlayerTheme" />
        <activity
            android:name=".c17banner.activity.BannerMainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".c17banner.activity.BannerAnimationActivity" />
        <activity android:name=".c17banner.activity.BannerStyleActivity" />
        <activity android:name=".c17banner.activity.CustomBannerActivity" />
        <activity android:name=".c17banner.activity.IndicatorPositionActivity" />
        <activity
            android:name=".c18countdownview.CountdownViewMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".c18countdownview.CountdownViewListViewActivity" />
        <activity android:name=".c18countdownview.CountdownViewRecyclerViewActivity" />
        <activity android:name=".c18countdownview.DynamicShowActivity" />
        <activity
            android:name=".c19opendanmaku.activity.OpenDanmakuMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".c20tablayout.activity.TabLayoutMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>